.social {

   // .social__item

   &__item {
      display: inline-block;

      &:not(:last-child) {
         margin-right: 2rem;
      }

      &--git:hover .social__icon {

         filter: brightness(0) saturate(100%) invert(8%) sepia(7%) saturate(557%) hue-rotate(314deg) brightness(95%) contrast(90%);

      }

      &--x:hover .social__icon {

         filter: brightness(0) saturate(100%) invert(53%) sepia(93%) saturate(457%) hue-rotate(175deg) brightness(95%) contrast(93%);


      }

      &--in:hover .social__icon {

         filter: brightness(0) saturate(100%) invert(30%) sepia(83%) saturate(496%) hue-rotate(176deg) brightness(95%) contrast(90%);


      }



   }

   // .social__link

   &__link {
      display: inline-block;

   }

   // .social__icon

   &__icon {

      width: 3rem;
      height: 3rem;

   }

}