.u-center-text {
   text-align: center !important;
}

.u-in-limit {
   max-width: $limit-for-block-size !important;
   margin: 0 auto !important;
}



//fot margins

.u-margin-bottom-big {
   margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
   margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
   margin-bottom: 1.5rem !important;
}